.shows_page_show_card{
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: auto 1rem;
    margin: 0 1rem 1rem 1rem;
    max-height:25rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.show_image{
    grid-row:1;
    grid-column: 1;
    width:100%;
    height: auto;
    object-fit:cover;
}
.shows_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    column-gap: 0.5rem;
    row-gap:1rem;
}
@media screen and (max-width: 1230px){
    .shows_container{
            grid-template-columns: 1fr;
    }
}
.info-button{
    grid-column: 1 / 3;
}
.show-button{
    margin-bottom:5px;
}
.show_times{
    padding:0.5rem;
    overflow-y:auto;
}
.date-row{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    color: white;
    background-color:darkblue;
    margin: 1rem 0;
    height:5rem;
    border-radius: 2.5rem;
}
.date-row-date{
    margin:0;
}