﻿@using cinema.Models
@using cinema.Services
@model Dictionary<DateOnly, Dictionary<cinema.Models.Movie, List<cinema.Models.Show>>>

@{
    ViewData["Title"] = "Voorstellingen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/shows.css" asp-append-version="true"/>
}

<h1>Voorstellingen</h1>

@using cinema.Filters
@{
    ShowsFilter? filter = (ShowsFilter?) ViewData["ShowsFilter"];
    //if (filter == null) filter = new ShowsFilter(Model.Keys.ToList());
    if(filter != null)
    {
        <form method="post" asp-controller="Shows" asp-action="Filter">
            <label for="search">Search</label>
            <input type="text" id="search" name="search" value="@filter.input">
            <label for="len">Length</label>
            <input type="range" id="len" name="len" min="0" max="@filter.maxselectablelength" value="@filter.maxlength">
            <label for="date">Date</label>
            <input type="date" id="date" name="date">
            <label for="threed">3D</label>
            <input type="checkbox" id="threed" name="threed" checked="@filter.threed">
            <label>Languages</label>
            @foreach(string language in filter.languages.Keys){
                <label for="@language">@language</label>
                <input type="checkbox" id="@language" name="@language" checked="@filter.languages[language]">
            }
            <label>Genres</label>
            @foreach(string genre in filter.genres.Keys){
                <label for="@genre">@genre</label>
                <input type="checkbox" id="@genre" name="@genre" checked="@filter.genres[genre]">
            }
            <label>Kijkwijzers</label>
            @foreach(string kijkwijzer in filter.kijkwijzers.Keys){
                <label for="@kijkwijzer">@kijkwijzer</label>
                <input type="checkbox" id="@kijkwijzer" name="@kijkwijzer" checked="@filter.kijkwijzers[kijkwijzer]">
            }
            <input type="submit" value="Search">
        </form>
    }
}

<div class="container-fluid">
    
    @foreach (var date in Model.Keys)
    {
        //return if the movies are older than today
        if (date < DateOnly.FromDateTime(DateTime.Now)) continue;
        
        <div class="date-row"><h2 class="date-row-date">
            
            @date
        </h2></div>
        
        <div>
            <div class="shows_container">
                @foreach (var movie in Model[@date].Keys)
                {
      
                        <div class="shows_page_show_card">
                            <img class="show_image" src="@movie.Poster">
                            <div class="show_times">
                                @foreach (var show in Model[@date][@movie])
                                {
                                    <form method="get" class="show-button" asp-controller="Tickets" asp-action="Arrangements" >
                                        <input type="hidden" name="showId" value="@show.Id"/>
                                        
                                        <button class="btn btn-primary"  type="submit">
                                            @TimeOnly.FromDateTime(show.StartTime).Hour.00 in zaal @show.Room
                                        </button>
                                        
                                    </form>
                                }
                            </div>
                        
                        <form method="get" class="info-button">
                            <button class="btn btn-secondary w-100" asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Name">Film-info</button>
                        </form>
</div>
  
                }
            </div>
        </div>
    }
</div>